<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= title %></title>
</head>
<body>
<form method='get' action='/comment'>
<h1><%= welcomemsg %></h1>
<br />
<div id='comment'>
<input type='text' name='commentTitle' />
<br />
<input type='text' name='commentBody' />
<br />
<input type='submit' />
</div>
<br />
<div id='displayComments'>

</div>
</form>
</body>
</html>
