<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <script src="http://yui.yahooapis.com/3.5.1/build/yui/yui-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/3.5.1/build/button/button-min.js"></script>
  </head>
  <body>
    <h1><%= welcomemsg %></h1>
    <br />
    <div id='addURLContainer'>
      Title: <input type='text' id='urlTitle' />
      <br />
      Desc: <input type='text' id='urlDesc' />
      <br />
      Tags: <input type='text' id='urlTags' />
      <br />
      Url: <input type='text' id='url' />
      <br />
      <button id='addURL'>Add URL</button>
    </div>
    <br />
    <button id="getURLs">Get URLs</button>
    <form method='post' action='/logout'>
      <input type='submit' name='logout' value='logout' />
    </form>
<!-- YUI script begins here -->
<script>
  YUI().use('button', 'event', 'io', 'json', 'cookie', function(Y) {
    var addBtn = new Y.Button({
      srcNode: '#addURL'
    });
    var addURLBtn = Y.one('#addURL');
    var getBtn = new Y.Button({
      srcNode: '#getURLs'
    });
    var getURLsBtn = Y.one('#getURLs');

    <!-- Handler for adding a new url -->
    var handleAddURL = function(e) {
      var url = '/addURL',
          urlTitle = Y.one('#urlTitle').get('value');
  alert('testset'),
          urlDesc = Y.one('#urlDesc').get('value'),
          urlTags = Y.one('#urlTags').get('value'),
          urlValue = Y.one('#url').get('value'),
          userName = Y.Cookie.get("user");
      Y.io(url, {
        method: 'POST',
        data : {
          urlDetail: Y.JSON.stringify({title: urlTitle, desc: urlDesc, tags: urlTags, url: urlValue}),
          userName: userName
        },
        on: {
          success: function(id, o) {
            alert('success' + o.status);
          },
          failure: function(id, o) {
            alert('failure: ' + o.status);
          }
        }
      });
    }

    <!-- Handler for retrieving urls -->
    var handleGetURLs = function(e) {
      var url = '/urls',
        userName = Y.Cookie.get("user");
      Y.io(url, {
        method: 'POST',
        data : {
          userName: userName
        },
        on: {
          success: function(id, o) {
            alert('success' + o.status + o.responseText);
          },
          failure: function(id, o) {
            alert('failure: ' + o.status);
          }
        }
      });
    }
    addURLBtn.on('click', handleAddURL);
    getURLsBtn.on('click', handleGetURLs);
  });
</script>
</body>
</html>
